 @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     outline: none;
 }

 body {
     font-family: 'Amatic SC', cursive;
     background: lightskyblue;
     font-size: 2em;
 }

 input {
     cursor: pointer;
 }

 .header {
     display: flex;
 }

 .header h1 {
     font-size: 2.4em;
     font-weight: 400;

 }

 .header {
     margin-bottom: 20px;
 }

 .header .leftside,
 .content .leftside {
     flex-basis: 19%;
 }

 .content .leftside {
     display: flex;
     flex-direction: column;
 }

 .header .rightside {
     flex-basis: content;

     width: 600px;
 }

 .content {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-height: 100vh;

 }

 .playarea {
     display: flex;
     flex-direction: row;
 }

 .grid {
     display: grid;
     border: 6px dotted black;
     box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
     border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
     width: 600px;
     height: 600px;
     flex-flow: row wrap;
     justify-content: space-around;
     padding: 10px;
     margin-bottom: 20px;

 }

 .gridbox {

     background-color: none;
     border: 1px dotted gray;
     border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
     margin: 2px;
 }


 .filledin {
     background-color: blue;
 }

 .testarea {
     background-color: aqua;
     display: flex;
     justify-content: space-around;
     width: 400px;
     margin-top: 20px;
     padding: 20px;
 }

 /*slider styling*/
 .slider {
     display: flex;
     justify-content: space-between;
 }

 .slider input {
     width: 350px;

 }

 /* mode picker */
 .modepicker input[type="radio"] {
     -ms-transform: scale(2);
     /* IE 9 */
     -webkit-transform: scale(2);
     /* Chrome, Safari, Opera */
     transform: scale(2);
     margin-right: 20px;
     vertical-align: middle;


 }

 .modepicker form {
     display: flex;
     flex-direction: column;
     margin-bottom: 40px;
     margin-left: 5px;
 }

 .modepicker label {
     margin-bottom: 10px;
 }

 /* erasemode checkbox */

 .erasemode input[type="checkbox"] {
     -ms-transform: scale(2);
     /* IE 9 */
     -webkit-transform: scale(2);
     /* Chrome, Safari, Opera */
     transform: scale(2);
     margin-right: 20px;
     vertical-align: middle;
     margin-left: 4px;

 }

 .erasemode {
     margin-bottom: auto;
 }

 /* startover and mute area */
 .startover {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     gap: 10px;
 }

 .soundmode {
     cursor: pointer;
 }

 .startover button {

     background: transparent;
     padding: 10px;
     font-family: 'Amatic SC', cursive;
     margin-bottom: 60px;
     transition: all .5s ease;
     color: black;
     font-size: 1em;
     letter-spacing: 1px;
     outline: none;
     box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
     border: 2px solid black;
     border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
 }

 .startover button:hover {
     box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
     cursor: pointer;
 }

 /* coloris */
 .colorpicker {
     flex-shrink: 0;
     width: 200px;
     margin-bottom: 30px;

 }

 .colorpicker input {
     width: 100px;
     height: 32px;
     padding: 0 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
     font-family: inherit;
     font-size: inherit;
     font-weight: inherit;
     box-sizing: border-box;
 }

 .full .clr-field button {
     width: 100%;
     height: 100%;
     border-radius: 5px;
 }